@charset "UTF-8";
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 600px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 700px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 900px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1150px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1300px; } }
  @media (min-width: 1700px) {
    .container {
      max-width: 1500px; } }

.container-sm {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container-sm {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container-sm {
      max-width: 620px; } }
  @media (min-width: 992px) {
    .container-sm {
      max-width: 760px; } }
  @media (min-width: 1200px) {
    .container-sm {
      max-width: 1050px; } }
  @media (min-width: 1400px) {
    .container-sm {
      max-width: 1280px; } }
  @media (min-width: 1700px) {
    .container-sm {
      max-width: 100%; } }

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
  display: flex;
  border-bottom: 1px solid #c9b2ba; }
  @media (min-width: 1199px) {
    .header {
      padding: 0 30px;
      height: auto;
      background: transparent; } }
  .header--show {
    padding: 15px;
    top: 0;
    background: linear-gradient(90deg, #00489A); }
  .header--hide {
    background: rgba(0, 0, 0, 0.8); }
  @media (min-width: 1199px) {
    .header {
      height: auto; } }
  .header__mobile {
    width: 100%;
    height: 100%;
    display: block; }
    @media (min-width: 1200px) {
      .header__mobile {
        display: none; } }
    .header__mobile .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%; }
    .header__mobile__logo {
      width: 130px; }
    .header__mobile__toggle {
      width: 43px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: black;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 13px 10px; }
      .header__mobile__toggle__bar {
        width: 100%;
        height: 2px;
        background-color: #c9b2ba;
        position: relative;
        transition: 0.3s; }
        .header__mobile__toggle__bar::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: -8px;
          left: 0;
          background-color: #c9b2ba;
          transition: 0.3s; }
        .header__mobile__toggle__bar::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: -8px;
          left: 0;
          background-color: #c9b2ba;
          transition: 0.3s; }
  .header__desktop {
    width: 100%;
    height: auto;
    display: none; }
    @media (min-width: 1200px) {
      .header__desktop {
        display: block; } }
    .header__desktop .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding-top: 15px;
      padding-bottom: 15px; }
    .header__desktop__logo {
      width: 120px; }
      .header__desktop__logo img {
        width: 100%; }
    .header__desktop__contact {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px; }
      .header__desktop__contact__item {
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .header__desktop__contact__item__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px; }
          @media (min-width: 1700px) {
            .header__desktop__contact__item__icon {
              width: 30px; } }
          .header__desktop__contact__item__icon img {
            width: 100%; }
        .header__desktop__contact__item a.phone {
          font-family: Poppins-Regular;
          font-size: 18px;
          color: #c9b2ba;
          font-weight: 400;
          padding: 10px 0px;
          transition: 0.3s; }

.menu {
  width: 70%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -200%;
  background: black;
  z-index: 100;
  padding: 30px 5px;
  transition: 0.3s; }
  .menu--active {
    left: 0%; }
  .menu__links {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .menu__links__contact {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .menu__links__contact__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        gap: 10px; }
        @media (min-width: 1199px) {
          .menu__links__contact__item {
            flex-direction: row; } }
        .menu__links__contact__item__icon {
          width: 20px; }
          .menu__links__contact__item__icon img {
            filter: sepia(100%) brightness(200%) saturate(0%) contrast(1000%);
            -webkit-filter: sepia(100%) brightness(200%) saturate(0%) contrast(1000%);
            -moz-filter: sepia(100%) brightness(200%) saturate(0%) contrast(1000%); }
        .menu__links__contact__item a.phone {
          font-size: 15px;
          color: white;
          font-weight: 400;
          transition: 0.3s; }

.footer {
  width: 100%;
  background-color: black;
  padding: 30px 0;
  position: absolute;
  border-top: 1px solid white; }
  .footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px; }
  .footer__logo {
    margin: auto;
    width: 80px; }
    @media (min-width: 1199px) {
      .footer__logo {
        width: 100px; } }
  .footer__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media (min-width: 1199px) {
      .footer__text {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        grid-column: 2 / 4; } }
    .footer__text h1 {
      color: white;
      line-height: 25px;
      font-size: 15px;
      text-align: center;
      font-weight: 100; }
      @media (min-width: 1199px) {
        .footer__text h1 {
          font-size: 18px;
          text-align: start; } }

.layout_redes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 35px;
  right: 25px;
  z-index: 100;
  gap: 10px; }
  @media (min-width: 1199px) {
    .layout_redes {
      bottom: 80px; } }
  .layout_redes__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100px !important;
    height: auto;
    padding: 15px; }
    .layout_redes__button img {
      width: 30px; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/flower-one.png");
  background-position: 0% 80%;
  background-repeat: no-repeat; }
  .hero__about_us {
    width: 100%;
    position: relative;
    height: auto;
    /*margin-top: 80px;*/
    padding: 90px  0 0 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .hero__about_us {
        height: auto;
        padding: 124px  0 0 0; } }
    .hero__about_us .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse; }
      @media (min-width: 1199px) {
        .hero__about_us .container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 30px; } }
    .hero__about_us__text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      @media (min-width: 1199px) {
        .hero__about_us__text {
          display: flex;
          align-items: flex-start;
          justify-content: center; } }
      .hero__about_us__text__imagen {
        width: 100px; }
      .hero__about_us__text h1 {
        color: #c9b2ba;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        font-family: Poppins-Bold;
        line-height: 32px; }
        @media (min-width: 768px) {
          .hero__about_us__text h1 {
            font-size: 45px;
            line-height: 50px; } }
        @media (min-width: 1199px) {
          .hero__about_us__text h1 {
            text-align: start;
            font-size: 60px; } }
        @media (min-width: 1700px) {
          .hero__about_us__text h1 {
            line-height: 72px;
            font-size: 66px; } }
      .hero__about_us__text p {
        padding-top: 25px;
        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 25px; }
        @media (min-width: 768px) {
          .hero__about_us__text p {
            font-size: 25px;
            line-height: 32px; } }
        @media (min-width: 1199px) {
          .hero__about_us__text p {
            text-align: start; } }
      .hero__about_us__text__button {
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (min-width: 1199px) {
          .hero__about_us__text__button {
            display: flex;
            align-items: center;
            justify-content: flex-start; } }
        .hero__about_us__text__button a {
          border: 2px solid #DEC83C;
          margin-top: 30px;
          background-color: #DEC83C;
          font-family: Poppins-Bold;
          padding: 15px 30px;
          color: black;
          font-size: 15px;
          border-radius: 10px;
          text-align: center; }
          @media (min-width: 300px) {
            .hero__about_us__text__button a {
              font-size: 20px; } }
          @media (min-width: 768px) {
            .hero__about_us__text__button a {
              font-size: 25px; } }
        .hero__about_us__text__button a:hover {
          background-color: white;
          color: #00489A;
          border: 2px solid #00489A; }
    .hero__about_us__imagen {
      width: 100%; }
  .hero__skills {
    padding-top: 15px;
    width: 100%;
    position: relative;
    height: auto;
    padding: 30px 0 30px 0;
    margin: 30px 0 30px 0;
    /*margin-top: 80px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media (min-width: 1199px) {
      .hero__skills {
        padding: 60px 0 0px 0;
        margin: 60px 0 0 0; } }
    @media (min-width: 1199px) {
      .hero__skills {
        height: auto; } }
    .hero__skills .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
    .hero__skills__title {
      padding-bottom: 30px; }
      .hero__skills__title h1 {
        color: #c9b2ba;
        font-size: 20px;
        text-align: center;
        font-family: Poppins-Bold; }
        @media (min-width: 768px) {
          .hero__skills__title h1 {
            font-size: 25px; } }
        @media (min-width: 1199px) {
          .hero__skills__title h1 {
            font-size: 30px; } }
        @media (min-width: 1700px) {
          .hero__skills__title h1 {
            font-size: 35px; } }
    .hero__skills__grid {
      /*border-radius: 5px;
            background-color: rgba(201,178,186,0.7);*/
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px; }
      @media (min-width: 378px) {
        .hero__skills__grid {
          grid-template-columns: repeat(4, 1fr); } }
      @media (min-width: 578px) {
        .hero__skills__grid {
          grid-template-columns: repeat(6, 1fr); } }
      @media (min-width: 991px) {
        .hero__skills__grid {
          grid-template-columns: repeat(8, 1fr);
          gap: 30px; } }
      @media (min-width: 1199px) {
        .hero__skills__grid {
          grid-template-columns: repeat(10, 1fr); } }
      @media (min-width: 1700px) {
        .hero__skills__grid {
          grid-template-columns: repeat(10, 1fr); } }
      .hero__skills__grid img.logo {
        width: auto;
        width: 90%;
        height: 80%;
        margin: auto; }

.services {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/flower-two.png");
  background-position: 100% -10%;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height: auto;
  padding: 30px 0 30px 0;
  margin: 30px 0 30px 0; }
  @media (min-width: 1199px) {
    .services {
      padding: 60px 0 60px 0;
      margin: 60px 0 0 0; } }
  .services--prev {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2; }
    .services--prev svg {
      width: 45px;
      fill: #c9b2ba; }
    @media (min-width: 1199px) {
      .services--prev {
        left: 120px; } }
  .services--next {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2; }
    .services--next svg {
      width: 45px;
      fill: #c9b2ba; }
    @media (min-width: 1199px) {
      .services--next {
        right: 120px; } }
  .services h1.title {
    color: #c9b2ba;
    font-size: 20px;
    text-align: center;
    font-family: Poppins-Bold; }
    @media (min-width: 768px) {
      .services h1.title {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .services h1.title {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .services h1.title {
        font-size: 35px; } }
  .services p.subtitle {
    width: 100%;
    color: white;
    font-family: Poppins-Regular;
    font-size: 15px;
    text-align: center;
    padding-top: 15px; }
    @media (min-width: 1199px) {
      .services p.subtitle {
        font-size: 18px; } }
  .services .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .services__carrousel {
    width: 100%;
    padding-top: 30px; }
    @media (min-width: 1199px) {
      .services__carrousel {
        padding-top: 15px; } }
    .services__carrousel__item {
      height: 300px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      margin: 0  7.5px; }
      @media (min-width: 1199px) {
        .services__carrousel__item {
          width: 100%;
          height: 300px;
          margin: 0  15px; } }
      .services__carrousel__item--one {
        width: 100%;
        background: url("../../img/projects-web/Aurio.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--one:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--one:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--two {
        width: 100%;
        background: url("../../img/projects-web/Celtic.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--two:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--two:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--three {
        width: 100%;
        background: url("../../img/projects-web/Dipcen.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--three:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--three:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--four {
        width: 100%;
        background: url("../../img/projects-web/Evcorp.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--four:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--four:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--five {
        width: 100%;
        background: url("../../img/projects-web/Fletera.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--five:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--five:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--six {
        width: 100%;
        background: url("../../img/projects-web/fletes-urgentes.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--six:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--six:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--seven {
        width: 100%;
        background: url("../../img/projects-web/GL.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--seven:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--seven:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--eigth {
        width: 100%;
        background: url("../../img/projects-web/Kurses.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--eigth:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--eigth:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--nine {
        width: 100%;
        background: url("../../img/projects-web/licorne.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--nine:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--nine:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--ten {
        width: 100%;
        background: url("../../img/projects-web/Naturasol.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--ten:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--ten:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--eleven {
        width: 100%;
        background: url("../../img/projects-web/Samsung.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--eleven:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--eleven:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--twelve {
        width: 100%;
        background: url("../../img/projects-web/SolarAe-.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--twelve:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--twelve:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--thirteen {
        width: 100%;
        background: url("../../img/projects-web/Solares.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--thirteen:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--thirteen:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item--fourteen {
        width: 100%;
        background: url("../../img/projects-web/SubZero-.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
        .services__carrousel__item--fourteen:hover .services__carrousel__item__text {
          display: none; }
        .services__carrousel__item--fourteen:hover .services__carrousel__item__information {
          display: flex; }
      .services__carrousel__item__information {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        width: 100%; }
        .services__carrousel__item__information h1 {
          color: #c9b2ba;
          font-size: 18px;
          padding: 3px;
          text-align: center; }
          @media (min-width: 1199px) {
            .services__carrousel__item__information h1 {
              font-size: 22px; } }
        .services__carrousel__item__information li {
          width: 100%;
          color: white;
          font-family: Poppins-Regular;
          font-size: 15px; }
          @media (min-width: 1199px) {
            .services__carrousel__item__information li {
              font-size: 18px; } }
      .services__carrousel__item__text {
        width: 100%;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        gap: 15px; }
        @media (min-width: 1199px) {
          .services__carrousel__item__text {
            display: flex;
            align-items: center;
            justify-content: center; } }
        .services__carrousel__item__text h1 {
          color: white;
          font-size: 18px;
          padding: 3px;
          text-align: center; }
          @media (min-width: 1199px) {
            .services__carrousel__item__text h1 {
              font-size: 22px; } }

.swiper {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100%; }
  .swiper .swiper-slide {
    width: 100% !important;
    height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    padding: 5px; }
    @media (min-width: 578px) {
      .swiper .swiper-slide {
        width: 50% !important;
        padding: 0; } }
    @media (min-width: 1199px) {
      .swiper .swiper-slide {
        width: 33.33% !important; } }

.banner_contact {
  width: 100%;
  position: relative;
  height: auto;
  padding: 30px 0 30px 0;
  background-image: url("../img/banner-2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px 0; }
  @media (min-width: 1199px) {
    .banner_contact {
      padding: 60px 0 60px 0;
      margin: 60px 0; } }
  .banner_contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px; }
    @media (min-width: 1199px) {
      .banner_contact .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px; } }
  .banner_contact__text h1 {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: #00489A;
    font-size: 20px;
    text-align: center;
    font-family: Poppins-Bold; }
    @media (min-width: 768px) {
      .banner_contact__text h1 {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .banner_contact__text h1 {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .banner_contact__text h1 {
        font-size: 35px; } }
  .banner_contact__text__button {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .banner_contact__text__button {
        display: flex;
        align-items: center;
        justify-content: flex-end; } }
    .banner_contact__text__button a {
      border: 2px solid #DEC83C;
      background-color: #DEC83C;
      font-family: Poppins-Bold;
      margin-top: 15px;
      font-weight: bold;
      padding: 15px;
      color: black;
      border-radius: 10px;
      text-align: center;
      font-size: 15px; }
      @media (min-width: 678px) {
        .banner_contact__text__button a {
          font-size: 18px;
          padding: 15px 30px; } }
      @media (min-width: 1199px) {
        .banner_contact__text__button a {
          font-size: 22px;
          margin-top: 30px; } }
    .banner_contact__text__button a:hover {
      background-color: white;
      color: #00489A;
      border: 2px solid #00489A; }

.banner_services {
  width: 100%;
  position: relative;
  height: auto;
  padding: 30px 0 30px 0;
  background-image: url("../img/banner-3.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px 0; }
  @media (min-width: 1199px) {
    .banner_services {
      padding: 60px 0 60px 0;
      margin: 60px 0; } }
  .banner_services .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .banner_services h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Poppins-Bold; }
    @media (min-width: 768px) {
      .banner_services h1 {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .banner_services h1 {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .banner_services h1 {
        font-size: 35px; } }
  .banner_services p {
    width: 100%;
    color: white;
    font-family: Poppins-Regular;
    font-size: 15px;
    text-align: center;
    padding-top: 15px; }
    @media (min-width: 1199px) {
      .banner_services p {
        font-size: 18px; } }
  .banner_services__button {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1199px) {
      .banner_services__button {
        display: flex;
        align-items: center;
        justify-content: flex-end; } }
    .banner_services__button a {
      border: 2px solid #DEC83C;
      background-color: #DEC83C;
      font-family: Poppins-Bold;
      margin-top: 15px;
      font-weight: bold;
      padding: 15px;
      color: black;
      border-radius: 10px;
      text-align: center;
      font-size: 15px; }
      @media (min-width: 678px) {
        .banner_services__button a {
          font-size: 18px;
          padding: 15px 30px; } }
      @media (min-width: 1199px) {
        .banner_services__button a {
          font-size: 22px;
          margin-top: 30px; } }
    .banner_services__button a:hover {
      background-color: white;
      color: #00489A;
      border: 2px solid #00489A; }

.review {
  width: 100%;
  position: relative;
  height: auto;
  padding: 30px 0 30px 0;
  margin: 0px 0px 30px 0;
  background-image: url("../img/martillo.webp");
  background-position: -20% 0%;
  background-repeat: no-repeat; }
  @media (min-width: 1199px) {
    .review {
      padding: 60px 0 60px 0;
      margin: 0px 0px 60px 0; } }
  .review .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .review--prev {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .review--prev svg {
      width: 30px;
      fill: black; }
  .review--next {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .review--next svg {
      width: 30px;
      fill: black; }
  .review__title h1 {
    color: #00489A;
    font-size: 20px;
    text-align: center;
    font-family: Poppins-Bold; }
    @media (min-width: 768px) {
      .review__title h1 {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .review__title h1 {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .review__title h1 {
        font-size: 35px; } }
  .review__title p {
    width: 100%;
    color: white;
    font-family: Poppins-Regular;
    font-size: 15px;
    text-align: center;
    padding-top: 15px; }
    @media (min-width: 1199px) {
      .review__title p {
        font-size: 18px; } }
  .review__grid {
    width: 100%;
    padding: 30px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    display: none; }
    @media (min-width: 992px) {
      .review__grid {
        display: grid;
        padding: 30px 0 0 0; } }
    @media (min-width: 1199px) {
      .review__grid {
        gap: 60px; } }
    .review__grid__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      border-radius: 10px;
      padding: 10px; }
      @media (min-width: 1199px) {
        .review__grid__item {
          padding: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 100%; } }
      .review__grid__item__imagen {
        height: 120px;
        width: auto;
        position: relative;
        top: 20px; }
        @media (min-width: 1199px) {
          .review__grid__item__imagen {
            height: 200px; } }
      .review__grid__item__text {
        border-radius: 10px;
        width: 100%;
        height: 200px;
        background-color: white;
        margin-top: auto;
        padding: 20px 10px 10px 10px;
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.5), white 10px 10px 0px -3px, #00489a 10px 10px; }
        @media (min-width: 1199px) {
          .review__grid__item__text {
            padding: 30px 15px 15px 15px; } }
        .review__grid__item__text h1 {
          width: 100%;
          color: black;
          font-family: Poppins-Bold;
          font-size: 18px;
          text-align: center; }
          @media (min-width: 1199px) {
            .review__grid__item__text h1 {
              font-size: 22px; } }
        .review__grid__item__text p {
          width: 100%;
          color: black;
          font-family: Poppins-Regular;
          font-size: 15px;
          text-align: center;
          padding-top: 15px; }
          @media (min-width: 1199px) {
            .review__grid__item__text p {
              font-size: 18px; } }
        .review__grid__item__text span {
          font-family: Poppins-Bold; }
  .review__carrousel {
    width: 80%;
    padding-top: 5px; }
    @media (min-width: 992px) {
      .review__carrousel {
        display: none; } }

.swiper_carrousel {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100%; }
  .swiper_carrousel .swiper-slide {
    width: 100% !important;
    height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; }

.form {
  width: 100%;
  height: auto;
  padding: 30px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/flower-three.png");
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain; }
  @media (min-width: 1199px) {
    .form {
      padding: 60px 0; } }
  .form .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; }
  .form__question {
    width: 80%;
    margin: auto;
    border-radius: 10px; }
    @media (min-width: 678px) {
      .form__question {
        padding: 0; } }
    .form__question h1 {
      color: #c9b2ba;
      font-size: 20px;
      font-family: Poppins-Bold;
      text-align: center; }
      @media (min-width: 768px) {
        .form__question h1 {
          font-size: 25px; } }
      @media (min-width: 1199px) {
        .form__question h1 {
          font-size: 30px; } }
      @media (min-width: 1700px) {
        .form__question h1 {
          font-size: 35px; } }
    .form__question__inputs {
      padding-top: 15px; }
      @media (min-width: 1199px) {
        .form__question__inputs {
          padding-top: 30px; } }
      .form__question__inputs__input {
        padding: 7.5px 0; }
        .form__question__inputs__input input {
          width: 100%;
          padding: 15px;
          background-color: #EAEFF2;
          border: none;
          border-radius: 10px; }
        .form__question__inputs__input textarea {
          height: 200px;
          padding: 15px;
          background-color: #EAEFF2;
          border: none;
          border-radius: 10px; }
        .form__question__inputs__input__button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          .form__question__inputs__input__button button {
            width: 100%;
            border: 2px solid #c9b2ba;
            background-color: #c9b2ba;
            font-family: Poppins-Bold;
            margin-top: 7.5px;
            font-weight: bold;
            padding: 15px 30px;
            color: black;
            border-radius: 10px;
            text-align: center;
            font-size: 15px; }
            @media (min-width: 678px) {
              .form__question__inputs__input__button button {
                font-size: 18px; } }
            @media (min-width: 1199px) {
              .form__question__inputs__input__button button {
                font-size: 22px; } }
          .form__question__inputs__input__button button:hover {
            background-color: black;
            color: #c9b2ba;
            border: 2px solid #c9b2ba; }

.offer {
  width: 100%;
  position: relative;
  height: auto;
  padding: 30px 0 30px 0;
  background-image: url("../img/engrane-pequeño.webp");
  background-position: 0% 0%;
  background-repeat: no-repeat; }
  @media (min-width: 1199px) {
    .offer {
      padding: 60px 0 60px 0;
      margin: 0px 0px 60px 0; } }
  .offer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .offer--prev {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .offer--prev svg {
      width: 30px;
      fill: black; }
  .offer--next {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .offer--next svg {
      width: 30px;
      fill: black; }
  .offer__title h1 {
    color: #00489A;
    font-size: 20px;
    text-align: center;
    font-family: Poppins-Bold; }
    @media (min-width: 768px) {
      .offer__title h1 {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .offer__title h1 {
        font-size: 30px; } }
    @media (min-width: 1700px) {
      .offer__title h1 {
        font-size: 35px; } }
  .offer__grid {
    width: 100%;
    padding: 30px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    display: none; }
    @media (min-width: 992px) {
      .offer__grid {
        display: grid;
        padding: 30px 0 0 0; } }
    @media (min-width: 1199px) {
      .offer__grid {
        gap: 60px; } }
    .offer__grid__item {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      border-radius: 10px;
      padding: 5px; }
      @media (min-width: 1199px) {
        .offer__grid__item {
          display: flex;
          align-items: center;
          justify-content: flex-end; } }
      .offer__grid__item__imagen {
        height: 120px;
        width: auto;
        position: relative;
        top: 20px; }
        @media (min-width: 1199px) {
          .offer__grid__item__imagen {
            height: 200px; } }
      .offer__grid__item__text {
        border-radius: 10px;
        width: 100%;
        height: auto;
        background-color: #00489A;
        margin-top: auto;
        padding: 20px 10px 10px 10px; }
        @media (min-width: 1199px) {
          .offer__grid__item__text {
            padding: 30px 15px 15px 15px; } }
        .offer__grid__item__text h1 {
          width: 100%;
          color: white;
          font-family: Poppins-Bold;
          font-size: 18px;
          text-align: center; }
          @media (min-width: 1199px) {
            .offer__grid__item__text h1 {
              font-size: 22px; } }
        .offer__grid__item__text p {
          width: 100%;
          color: white;
          font-family: Poppins-Regular;
          font-size: 15px;
          text-align: center;
          padding-top: 15px; }
          @media (min-width: 1199px) {
            .offer__grid__item__text p {
              font-size: 18px; } }
  .offer__carrousel {
    width: 80%;
    padding-top: 5px; }
    @media (min-width: 992px) {
      .offer__carrousel {
        display: none; } }

.swiper_services {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100%; }
  .swiper_services .swiper-slide {
    width: 100% !important;
    height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; }

.thanks {
  width: 100%;
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .thanks h2 {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: GE Sans bold; }
    @media (min-width: 768px) {
      .thanks h2 {
        font-size: 25px; } }
    @media (min-width: 1700px) {
      .thanks h2 {
        font-size: 30px; } }
  .thanks p {
    padding-top: 15px;
    color: black;
    font-family: GE Sans;
    font-size: 15px;
    text-align: center; }
    @media (min-width: 1199px) {
      .thanks p {
        font-size: 18px;
        padding-top: 20px; } }
  .thanks a {
    border: 2px solid #00489A;
    margin-top: 15px;
    background-color: #00489A;
    font-family: OpenSans-Bold;
    font-weight: bold;
    padding: 15px 30px;
    color: white;
    border-radius: 28px;
    text-align: center; }
    @media (min-width: 300px) {
      .thanks a {
        font-size: 20px; } }
    @media (min-width: 768px) {
      .thanks a {
        font-size: 25px; } }
    @media (min-width: 1199px) {
      .thanks a {
        margin-top: 30px; } }
  .thanks a:hover {
    background-color: white;
    color: #00489A;
    border: 2px solid #00489A; }

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype"); }

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype"); }

* {
  font-family: Poppins-Regular;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  background-color: black; }

button {
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s; }

a {
  text-decoration: none;
  transition: 0.3s; }

svg {
  width: 100%;
  height: 100%; }
