.banner_services{
    width: 100%;
	position: relative;
	height: auto;
    padding: 30px 0 30px 0;
    background-image: url('../img/banner-3.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px 0;

    @media(min-width:1199px){
        padding: 60px 0 60px 0;
        margin: 60px 0;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;   
    }


    h1{
        color: $white;
        font-size: 20px;
        text-align: center;
        font-family:Poppins-Bold;
   
        @media(min-width:768px){
            font-size: 25px;
        }

        @media(min-width:1199px){
            font-size: 30px;
        }
                
        @media(min-width:1700px){
            font-size: 35px;
        }
    }

    p{
        width: 100%;
        color: $white;
        font-family: Poppins-Regular;
        font-size: 15px;
        text-align: center;
        padding-top: 15px;

        @media(min-width: 1199px){
            font-size: 18px;
        }
    }

    &__button{
        @include flex-center-center;

        @media(min-width:1199px){
            @include flex-center-end;
        }

        a{
            border: 2px solid $gold_drop;
            background-color:$gold_drop;
            font-family: Poppins-Bold;
            margin-top: 15px;
            font-weight: bold;
            padding: 15px ;
            color:$black;
            border-radius: 10px;
            text-align: center;
            font-size: 15px; 

            @media(min-width:678px){
                font-size: 18px;  
                padding: 15px 30px ;   
            }
                
            @media(min-width:1199px){
                font-size: 22px;     
                margin-top: 30px; 
            }
        }

        a:hover{
            background-color:$white ;
            color: $elephant;
            border: 2px solid $elephant;
        }
    }


    
}
