.offer{
    width: 100%;
	position: relative;
	height: auto;
    padding: 30px 0 30px 0;
    background-image: url('../img/engrane-pequeño.webp');
    background-position: 0% 0%;
    background-repeat: no-repeat;

    @media(min-width:1199px){
        padding: 60px 0 60px 0;
        margin: 0px 0px 60px 0;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;
    }

    &--prev{
		position: absolute;
        left: 15px;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;

		svg{
			width: 30px;
			fill: black;
		}

	}

	&--next{
		position: absolute;
        right: 15px;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 30px;
			fill: black;
		}

	}

    &__title{
        h1{
            color: $elephant;
            font-size: 20px;
            text-align: center;
            font-family:Poppins-Bold;
       
            @media(min-width:768px){
                font-size: 25px;
            }
    
            @media(min-width:1199px){
                font-size: 30px;
            }
                    
            @media(min-width:1700px){
                font-size: 35px;
            }
        }

    }

    &__grid{
        width: 100%;
        padding: 30px 0;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        display: none;

        @media(min-width: 992px){
            display: grid;
            padding: 30px 0 0 0;
        }

        @media(min-width: 1199px){
            gap: 60px;
        }

        &__item{
            height: 100%;
            @include flex-center-start;
            flex-direction: column;
            border-radius: 10px;
            padding: 5px;

            @media(min-width: 1199px){
                @include flex-center-end;
            }

            &__imagen{
                height: 120px;
                width: auto;
                position: relative;
                top: 20px;

                @media(min-width: 1199px){
                    height: 200px;
                }
            }

            &__text{
                border-radius: 10px;
                width: 100%;
                height: auto;
                background-color: $elephant;
                margin-top: auto;
                padding: 20px 10px 10px 10px;

                @media(min-width: 1199px){
                    padding: 30px 15px 15px 15px;
                }

                h1{
                    width: 100%;
                    color: $white;
                    font-family: Poppins-Bold;
                    font-size: 18px;
                    text-align: center;
            
                    @media(min-width: 1199px){
                        font-size: 22px;
                    }
                }

                p{
                    width: 100%;
                    color: $white;
                    font-family: Poppins-Regular;
                    font-size: 15px;
                    text-align: center;
                    padding-top: 15px;
            
                    @media(min-width: 1199px){
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &__carrousel{
        width: 80%;
        padding-top: 5px ;
        @media(min-width: 992px){
            display: none;
        }

    }

}

.swiper_services{
	width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100%;

		.swiper-slide{
            width: 100% !important;
            height: 100%;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center; 

		}

        

}