$white:white;
$black:black;

//*Black
$baltic_sea:#4f4f4f;


//*blue
$elephant:#00489A;
$science_blue:#203B77;
$water_blue:#1428A0;
$medium_electric_blue:#5D70D6;

$harp:#EAEFF2;

$pink:#c9b2ba;

//*gray
$grey_goose:#CFCFCF;
$carbon_grey:#606060;
$black_cow:#464646;

//*orange
$gold_drop:#DEC83C;
$gamboge:#EF9208;
$gold_droptwo:#EF5B08;
$flame:#EB511E;
$flame_two:#EA4E1F; 